
@{
    ViewBag.Title = "Error";
}

<div class="col-md-12 text-center">
    <p class="hardware">@ViewBag.Title</p>
    <h2 class="text-warning">An Error Has Occured</h2>
    <p>
        That was not supposed to happen! We will get right to work trying to fix the issue.<br />
        In the meantime, you can <a href="/">click here to return to the home page</a>, or try again.
        If behavior persists, please contact site administrator.
    </p>
    <img src="~/Content/images/CustomErrorStoreFront.jpg" />
</div>

@* custom code *@
@section htmlHead{
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&display=swap" rel="stylesheet">
    <style>
        .hardware {
            font-family: 'Big Shoulders Stencil Text', cursive;
            color:rgb(252,220,0);
            font-size:7em;
            text-shadow: 3px 3px 3px #000;
        }
    </style>
}